.header__wrapper {
  position: relative;
  height: 100vh;
}

.header {
  height: 100vh;
  width: 100%;
  background: url(../../images/header-bg.jpg) no-repeat center center / cover;
  position: relative;
  z-index: 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2a2c2f;
  opacity: 0.8;
  z-index: -1;
}

.header__navbar {
  padding-top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__nav_desktop {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__navbar_mobile {
  display: none;
}

.header__nav-link {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  font-feature-settings: "liga" off;
  color: #fff;
  text-decoration: none;
}

.header__nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 1px;
  transition: height 0.3 ease-out;
  border-bottom: 2.50195px solid #e3e4e6;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header__nav-link:hover {
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header__nav-link:hover:after,
.header__nav-link:focus:after {
  transition: 0.3s ease-out;
  width: 9px;
  bottom: -8px;
}

.heading {
  margin: 0 auto 15px;
  width: 100%;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.02em;
}

.header__btn-link {
  display: block;
  margin: 0 auto 42px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .heading {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 24px;
  }
  .header__nav_desktop {
    display: none;
  }
}
