.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(../../images/header-bg.jpg) no-repeat center center / cover;
    position: relative;
    z-index: 0;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.8;
    z-index: -1;
}

.header__navbar {
    margin-bottom: 600px;
    padding: 24px 112px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    color: #fff;    
    font-weight: 600;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 0 32px;
}

.header__nav-link {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #fff;
    text-decoration: none;
}

.header__nav-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 1px;
    /* background-color: #fff; */
    transition: height .3 ease-out;
    border-bottom: 2.50195px solid #E3E4E6;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header__nav-link:hover {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

.header__nav-link:hover:after,
.header__nav-link:focus:after {
    transition: .3s ease-out;
    width: 9px;
    bottom: -8px;
}

.heading {
    margin: 0 auto 15px;
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
}

.header__btn-link {
    display: block;
    margin: 0 auto 42px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}