.works {
  padding: 60px 0 120px;
}

.works__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 97px;
  width: 100%;
}

.works__container_mobile {
  display: none;
}

.works__item {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.works__img {
  width: 100%;
  border-radius: 16px;
}

.works__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.works__title {
  margin-bottom: 20px;
  max-width: 594px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.works__subtitle {
  margin-bottom: 20px;
  max-width: 594px;
  font-weight: 300;
  font-size: 32px;
  line-height: 150%;
}

.works__link {
  padding-left: 16px;
  display: block;
  position: relative;
  width: 163px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: #000;

  border: 1px solid rgba(227, 228, 230, 0.55);
  border-radius: 100px;
  transition: 1s ease-out;
}

.works__link::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 6px;
  width: 24px;
  height: 24px;
  background-image: url(../../images/works-short-arrow.svg);
  transition: 1s ease-out;
}

.works__link:hover {
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  width: 189px;
}

.works__link:hover:after {
  background-image: url(../../images/works-long-arrow.svg);
}

@media (max-width: 1199px) {
  .works__container {
    gap: 70px;
  }
  .works__subtitle {
    font-size: 24px;
  }
}

@media (max-width: 959px) {
  .works__title {
    margin-bottom: 14px;
  }
  .works__subtitle {
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .works {
    padding: 60px 0 60px;
  }
  .works__container {
    display: none;
  }
  .works__container_mobile {
    display: flex;
    flex-direction: column;
  }
  .works__item {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .works__description {
    align-items: center;
  }
  .works__title {
    margin-bottom: 3px;
    font-size: 14px;
  }
  .works__subtitle {
    margin-bottom: 12px;
    font-size: 12px;
  }
}
